Repository xCDAT/xcdat, pull requests merged in 2024-04, with the labels that each got.

#628 [PR]: Remove deprecated features and APIs for next release
  conda-env/ci.yml
  conda-env/dev.yml
  tests/test_dataset.py
  tests/test_regrid.py
  xcdat/dataset.py
  xcdat/regridder/accessor.py
  xcdat/regridder/grid.py
Labels: minor

#632 Improve readability of documentation
  docs/_static/icons/dashboard.png
  docs/_static/icons/faq.png
  docs/_static/icons/server.png
  docs/_static/icons/wrench.png
  docs/gallery.yml
  docs/getting-started-guide/index.rst
  docs/index.rst
Labels: type: docs

#637 Bump to v0.7.0
  HISTORY.rst
  conda-env/ci.yml
  conda-env/dev.yml
  setup.py
  tbump.toml
  xcdat/__init__.py
Labels: type: docs, minor

#633 Temporal average notebooks maintanance
  docs/examples/climatology-and-departures.ipynb
  docs/examples/temporal-average.ipynb
Labels: type: docs, Type: Documentation

#643 Add instructions for setting `ESMFMKFILE` and update links to xESMF docs
  README.rst
  docs/examples/regridding-horizontal.ipynb
  docs/getting-started-guide/installation.rst
  docs/getting-started-guide/overview.rst
  xcdat/regridder/accessor.py
Labels: type: docs
