Repository xCDAT/xcdat, pull requests merged in 2025-04, with the labels that each got.

#655 [PR]: Enable `skipna` for spatial and temporal mean operations
  tests/test_spatial.py
  tests/test_temporal.py
  xcdat/spatial.py
  xcdat/temporal.py
Labels: type: enhancement

#749 Fix incorrect dimension used for temporal weights generation
  docs/api.rst
  tests/test_bounds.py
  xcdat/__init__.py
  xcdat/bounds.py
  xcdat/temporal.py
Labels: type: bug, type: docs

#672 Add weight threshold option for spatial averaging
  tests/test_spatial.py
  tests/test_utils.py
  xcdat/spatial.py
  xcdat/utils.py
Labels: type: enhancement, project: seats-fy24

#757 Replace support section with endorsements
  README.rst
  docs/getting-started-guide/overview.rst
Labels: type: docs
