Repository xCDAT/xcdat, pull requests merged in 2025-01, with the labels that each got.

#720 Drop Python 3.9 support
  .github/workflows/build_workflow.yml
  conda-env/ci.yml
  conda-env/dev.yml
  docs/getting-started-guide/installation.rst
  pyproject.toml
  tests/test_regrid.py
  xcdat/dataset.py
  xcdat/regridder/grid.py
  xcdat/temporal.py
Labels: type: devops, type: docs

#724 Fix `DeprecationWarning` and `FutureWarning` found in test suite
  tests/fixtures.py
  tests/test_regrid.py
  xcdat/regridder/grid.py
Labels: type: bug, type: devops

#727 Replace Miniconda with Miniforge
  docs/getting-started-guide/installation.rst
Labels: type: docs

#716 Fixes preserving coordinates in regrid2
  xcdat/regridder/regrid2.py
Labels: type: bug

#731 Update Miniconda references to Miniforge in HPC docs
  CONTRIBUTING.rst
  Makefile
  conda-env/ci.yml
  conda-env/dev.yml
  docs/getting-started-guide/getting-started-hpc-jupyter.rst
Labels: type: docs

#732 Update pre-commit hooks and add ci config
  .github/workflows/build_workflow.yml
  .pre-commit-config.yaml
  conda-env/dev.yml
  tests/fixtures.py
  xcdat/temporal.py
Labels: type: devops
